/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Logo */

.logo {
  color: #228b22;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

/* Navigation menu */

.container {
  background: url(./img/food-plate.jpg) no-repeat center/cover;
  height: 100vh;
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}

#main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-top: 20px;
}

#main-nav ul li {
  padding: 10px;
  margin-right: 15px;
}

#main-nav a.active {
  color: #228b22;
}

/* Header content */

#header-content {
  margin-top: 150px;
  margin-left: 80px;
}

#header-content h1 {
  color: #fff;
  font-size: 80px;
}

.text-green {
  color: #228b22;
}

#header-content p {
  margin-left: 10px;
  font-size: 35px;
  color: #228b22;
}

.lead-text {
  width: 750px;
  margin-top: 10px;
}

/* New recipes section */

.latest-r-container {
  width: 1450px;
  margin: auto;
}

#latest-recipes .recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#latest-recipes h2 {
  font-size: 45px;
  margin: 10px 10px 20px 10px;
  color: #228b22;
  /* Raspberry color: #e30b5d; */
}

#latest-recipes h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#latest-recipes a {
  text-decoration: none;
  color: #466d1d;
  font-weight: bold;
}

article p {
  font-size: 20px;
}

.card {
  border: 2px dashed #228b22;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 12px;
  border-radius: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.category-breakfast {
  background: chocolate;
}

.category-lunch {
  background: darkolivegreen;
}

.category-dinner {
  background: darksalmon;
}

.category-dessert {
  background: #e30b5d;
}

img {
  width: 350px;
  height: auto;
}

/* Media queries */
